.tweet-list li {
  transition: all 0.2s linear;
}

@media screen and (max-width: 767px) {
  .tweet-list li {
    opacity: 0.6;
    transform: scale(0.95) translateX(0);
  }
  .tweet-list li.active {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .tweet-list li {
    opacity: 0.7;
  }
  .tweet-list li.right-items {
    transform: scale(0.85) translateX(45%);
  }
  .tweet-list li.left-items {
    transform: scale(0.85) translateX(-45%);
  }
  .tweet-list li.active {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

.tweet-list .like-count::before {
  content: "";
  background-image: url(./../../img/heart.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  background-size: contain;
  display: inline-block;
  margin-right: 6px;
}

.tweet-list .share-btn a::after {
  content: "";
  background-image: url(./../../img/share.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  background-size: contain;
  display: inline-block;
  margin-left: 6px;
}

.tweet-list .like-btn a::after {
  content: "";
  background-image: url(./../../img/like.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  background-size: contain;
  display: inline-block;
  margin-left: 6px;
}
